<div class="wrapper fadeInDown">
  <div id="formContent">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <form #form="ngForm" (ngSubmit)="registration(form)">
      <div class="space">
        <label for="nome">Nome Utente</label>
        <th></th>
        <input type="nome" name="nome" ngModel placeholder="nome" #nome="ngModel" required>
      </div>
      <div class="space">
        <label for="email">Email Utente</label>
        <th></th>
        <input type="email" name="email" ngModel placeholder="email" #email="ngModel" required>
      </div>
      <th></th>
      <div class="space">
        <label for="password">Password Utente</label>
        <th></th>
        <input type="password" name="password" ngModel placeholder="password" #password="ngModel" required>
        <th></th>
      </div>
      <div class="space"><button class="btn" type="submit">Registrati</button></div>
      <div>
        <p>Sei gia registrato? accedi al seguente <a routerLink="/login" routerLinkActive="active">link</a></p>
      </div>
      </form>
