
body{
  margin: 0;
  padding: 0;
  background-color: #87CEFA;
}
form{
  position: relative;
  top: 30px;
  height: 29em;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  width: 1200px;
  padding: 30px;
  padding-top: 10px;
}
label{
  margin-top: 10px;
}

input{
  width: 100%;
  margin: auto;
}

button{
  margin-top: 20px;
  text-align: center;
}

