body{
  margin: 0;
  padding: 0;
  background-color: #87CEFA;
  height: 82em;
}

#container{
  width: 80%;
  position: relative;
  top: 50px;
  height: 1170px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
}

button{
  width: 77px;
  font-size: 12px;
}

#change{
  background-color: white;
color: rgb(251, 195, 75);
border: solid 2px rgb(235, 196, 69);
}
#bill{
  background-color: white;
  color: rgb(3, 94, 99);
  border: solid 2px rgb(3, 94, 99);
}

.button{
  display: flex;
  justify-content: space-around;
}
