<div class="container mt-5">
  <app-favoriti></app-favoriti>
  <div class="row" *ngIf="fotoInArrivo; else loading">
    <div class="col-6 mb-3 " *ngFor="let foto of fotoInArrivo; let i =index">
      <div class="card h-100">
        <img [src]="foto.thnumbnailUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{foto.title}}</h5>
          <a href="" class="btn btn-danger" (click)="cancella(foto.id, i)">Elimina</a>
          <a href="" class="btn btn-success" (click)="aggiungiFavoriti()">mi piace</a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">loading...</span>
  </div>
</ng-template>

