#Titl1{
  font-size: 50px;
position: relative;
top: 12rem;
left: 50%;
transform: translateX(-50%);
text-align: center;



}

#text{
  position: relative;
  font-size: 20px;
  top: 13rem;
left: 50%;
transform: translateX(-50%);
text-align: center;
}

#red{
  background-color: red;
  color:white;

}

form{
  width: 100%;
  position: relative;
  top:90px;
  text-align: center;

}


puls{
  background-color: aqua;
}
