@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');


ng-sidebar-container{
  height: 100vh;
  background-color: gray;
}

::ng-deep .ng-sidebar{
  background: linear-gradient(90deg, rgb(152, 2, 139) 0%, rgb(181, 54, 215) 50%, rgb(250, 111, 255) 100%);
  width: 250px;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85 , 85, 0.5);
}

h1{
  position: relative;
  top: 90px;
  font-family: "Roboto",sans-serif;
  color: white;
  text-align: center;
  justify-items: center;
  border-radius: 15px;
  font-size: 40px;

}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: white;
  font-size: 25px;

}
li{
  margin: 120px auto;
  position:relative;
  top: 200px;
  left: -13px;
  text-align: center;

}

#closeBtn{
  position: relative;
  top: -40px;
  left: 155px;
  color: rgb(255, 255, 255);
  border-radius:100% ;
}

#logout{
  position: relative;
  bottom: -50vh;
  left: 15px;
  font-size: 35px;
  background-color: red;
  color: white;
  height: 65px;
}

#toggle{
  position: relative;
  top: 50px;
  left: 30px;
  z-index:1 ;

}

.btn{
  background-color:white;
  color:rgb(162, 3, 220) ;

  height: 50px;


}
  .btn:hover{
background-color: rgb(162, 3, 220);
color: white;
  }

  .btn:focus{
background-color:rgb(162, 3, 220) ;
color: white;
  }

