#first{
  font-size: 50px;
position: relative;
top: 12rem;
left: 50%;
transform: translateX(-50%);
text-align: center;
}

#place{
  position: relative;
  font-size: 20px;
  top: 13rem;
left: 50%;
transform: translateX(-50%);
text-align: center;
font-weight: 300;
}

#placetext{
  position: relative;
  font-size: 20px;
  top: 12.7rem;
left: 50%;
transform: translateX(-50%);
text-align: center;
}

#price{
  position: relative;

  top:13.5rem;
  font-size: 30px;
  text-align: center;
}

button{
  background-color:#0d6efd;;
  color:white;
  position: relative;

  font-size: 30px;

}


